/* CSS Organization 
* - styles reset provided in a reset.css file
* - 
*
*/

/* Root styles */
:root {
  --dark-magenta: #512051;
  --soft-pink: #ee68a4;
  --dark-gray-magenta: #927B91;
  --light-gray-magenta: #f7f2f7;
  --white: #fff;
}
html {
  font-size: 20px;
  font-family: 'League Spartan', sans-serif;
}
body {
  position: relative;
  background-color: var(--white);
  height: 100dvh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.8rem;
  line-height: 2.4rem;
  letter-spacing: -2px;
  margin-top: 0.18em;
  margin-bottom: 0.42em;
}
p {
  font-size: 0.85rem;
  line-height: normal;
  font-weight: 400;
}

/* Overlays for testing */
#desktop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 800px;
  opacity: 0.6;
  z-index: 100;
  display: none;
}
#mobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 1530px;
  opacity: 0.6;
  z-index: 100;
  display: none;
}

/* Utility classes */
.text-primary {
  color: var(--dark-magenta);
}
.text-dark {
  color: var(--dark-gray-magenta);
}
.text-light {
  color: var(--white);
}
.line-high {
  line-height: 1.1rem;
  font-weight: 500;
  letter-spacing: -0.304px;
}
.medium {
  font-size: 0.95rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.633px;
}
.bold {
  font-weight: 700;
}
.quoted::before {
  content: '“ ';
}
.quoted::after {
  content: ' ”';
}
.pink {
  color: var(--soft-pink);
}
.stagger-children > *:nth-child(1) {
  align-self: start;
}
.stagger-children > *:nth-child(2) {
  align-self: center;
}
.stagger-children > *:nth-child(3) {
  align-self: end;
}


#bg-graphic-top {
  position: absolute;
  top: 0;
  left: 0;
}
#bg-graphic-bottom {
  position: absolute;
  top: 127px;
  left: 355px;
}
main {
  position: relative;
  width: 1110px;
  height: 582px;
  margin-block: 4.1rem;
  margin-inline: 1.2rem;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4rem;
}
.main-grid > *:nth-child(-n + 2) {
  margin-bottom: 2.2rem;
}

.header-container {
  max-width: 22.25rem;
}
.ratings-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
}
.reviews-container {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  min-height: 13.3rem;
}

.stars-card {
  width: min(22.25rem, 87.2vw);
  display: flex;
  align-items: center;
  color: var(--dark-magenta);
  background-color: var(--light-gray-magenta);
  border-radius: 0.4rem;
  padding-block: 1rem;
  margin-bottom: 0.8rem;
}
.stars-card img {
  margin-inline: 1.6rem;
}

.review-card {
  width: min(17.5rem, 87.2vw);
  height: 11.7rem;
  color: var(--white);
  background-color: var(--dark-magenta);
  border-radius: 0.4rem;
  padding-inline: 1.6rem;
  padding-top: 2rem;
  padding-bottom: 1.75rem;
}
.reviewer-container {
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 1.15rem;
  margin-bottom: 1.43rem;
}
.user-image {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 50%;
}
.reviewer-container > p {
  align-self: center;
}


@media (max-width: 1158px) {
  main {
    max-width: 1110px;
  }
}
@media (max-width: 375px) {
  body {
    align-items: start;
  }
  h1 {
    font-size: 2rem;
    line-height: 1.6rem;
    letter-spacing: -1.429px;
    margin-top: 0em;
    margin-bottom: 0.52em;
  }
  .main-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .main-grid > *:nth-child(-n + 2) {
    margin-bottom: 0rem;
    text-align: center;
  }
  .ratings-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.1rem;
  }
  .stars-card {
    flex-direction: column;
    gap: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.76rem;
  }
  .reviews-container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
  }
  .review-card {
    margin-bottom: 0.8rem;
    height: 12.4rem;
  }
  #bg-graphic-top {
    display: none;
  }
  #bg-graphic-bottom {
    display: none;
  }
}